.date-range-picker-wrapper {
  .DateInput__display-text--focused {
    color: #000;
    background: #dcedc8;
    border-color: #dcedc8;
  }

  &__submit {
    box-sizing: border-box;
    height: 30px;
    padding: 0 30px;
    margin-top: 10px;
    background: linear-gradient(to bottom, #fff, #f2f2f2);
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    outline: none;

    &:hover {
      background: linear-gradient(to bottom, #fff, #e6e6e6);
    }

    &:active {
      background: linear-gradient(to bottom, #fff, #ddd);
    }
  }
}
