.user-vacations {
  flex-basis: 100%;

  &__controls {
    min-width: 400px;

    &-header {
      box-sizing: border-box;
      margin-bottom: 20px;
      font-size: 24px;
    }

    &-content {
    }
  }

  &__stats {
    margin-top: 20px;

    &-table {
      border-collapse: collapse;

      th,
      td {
        padding: 6px 10px;
        text-align: left;
      }

      th {
        color: #4a4a4a;
        font-size: 12px;
        font-weight: normal;
        border-bottom: 1px solid #bdbdbd;
      }

      tr:hover td {
        background-color: #fff;
        border-radius: 4px;
      }
    }
  }

  &__delete-vacation {
    opacity: 0;
    padding: 3px;
    cursor: pointer;
  }

  tr:hover &__delete-vacation {
    color: black;
    opacity: 0.4;

    &:hover {
      color: red;
      opacity: 1;
    }

    &:active {
      color: darkred;
    }
  }

  &__chart {
    margin-left: 60px;
  }
}
